<nav>
  <header><strong>Demos</strong></header>
  <LinkTo @route='index'>Native JS</LinkTo>
  <LinkTo @route='with-ember'>@ember/component</LinkTo>
  <br>
  <LinkTo @route='with-glimmer'>@glimmer/component</LinkTo>
  <LinkTo @route='without-templates'>Effects and no Templates (pending)</LinkTo>
</nav>
