<nav>
  <strong>Demos</strong>
  <LinkTo @route='index'>
    Native JS
  </LinkTo>
  <LinkTo @route='with-glimmer'>
    @glimmer/component
  </LinkTo>
  <LinkTo @route='with-ember'>
    @ember/component
  </LinkTo>
  <br>
  <LinkTo @route='without-templates'>
    ember-lifecycle-component
  </LinkTo>
</nav>
