<div class='three-webgl-canvas-container' {{did-insert this.setContainer}} ...attributes>
  {{yield
    (hash
      PerspectiveCamera=(component 'three/perspective-camera')
      DirectionalLight=(component 'three/directional-light')
      Mesh=(component 'three/mesh')
      addCamera=this.addCamera
      add=this.add
      render=this.render
      scene=this.scene
    )
    this.scene
  }}
</div>