<div {{did-insert this.setElement}}></div>

{{yield
  (hash
    DirectionalLight=(component 'demo/without-templates/scene/directional-light' scene=this.scene)
    PerspectiveCamera=(component 'demo/without-templates/scene/perspective-camera'
      scene=this.scene
      setCamera=this.setCamera
    )
    Box=(component 'demo/without-templates/scene/box' scene=this.scene render=this.render)
  )
}}