<div {{did-insert this.setElement}}></div>

{{yield
  (hash
    DirectionalLight=(component 'scene/directional-light' scene=this.scene)
    PerspectiveCamera=(component 'scene/perspective-camera'
      scene=this.scene
      setCamera=this.setCamera
    )
    Box=(component 'scene/box' scene=this.scene)
  )
}}