<div class='controls'>
  <label>
    Amount
    {{#let (array 100 500 1000 2000 10000) as |counts|}}
      <select {{on 'change' this.updateCount}}>
        {{#each counts as |count|}}
          <option
            selected={{eq this.appState.count count}}
            value={{count}}
          >
            {{count}}
          </option>
        {{/each}}
      </select>
    {{/let}}
  </label>
</div>
