<nav>
  <LinkTo @route='index'>
    Native JS
  </LinkTo>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <LinkTo @route='with-glimmer'>
    With Glimmer
  </LinkTo>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <LinkTo @route='without-templates'>
    Without Templates
  </LinkTo>
</nav>

{{outlet}}
