<nav>
  <LinkTo @route='index'>
    Native JS
  </LinkTo>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <LinkTo @route='with-components'>
    With Components
  </LinkTo>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <LinkTo @route='with-custom-component'>
    With Custom Components
  </LinkTo>
</nav>

{{outlet}}
